.menu {
    display:flex;
    height:400px;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    padding-bottom: 0.2em;
    margin-bottom:0;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
}

.info {
    text-align: left;
}

.card {
    width: 20%;
}