.DarkBg {
  background-color: #282c34;
}

.App-header {
  padding: 2em 2em 2em 4em;
  /* padding-left: 4em; */
  /* padding: 2em; */
  background-color: #282c34;
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 3em;
  line-height: 1em;
}

.TitleText {
  font-size: 0.9em;
  font-weight: lighter;
}

.App-link {
  color: #09d3ac;
}

.Button {
  margin: 0 0 4em 6em;
  padding: 1em;
  background-color: white;
  border: white;
  border-radius: 5px;
  color: #282c34;
  font-size: 1em;
  font-weight: bold;
}

.Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4em;
  
}

.BottomImgs {
  padding: 2em;
}

.BottomImgs p {
  padding-left: 1.5em;
  padding-right: 3em;
}

.BottomImgs h2 {
  padding-left: 1em;
  padding-bottom: 0;
}