.btn1 {
  background-color: white;
  text-decoration-color: #282c34;
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 1.7em;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}
