body {
  background-color: #2D3252;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-position:
    top 9vh left 60vw,
    top 50vh left 70vw,
    top 70vh left 60vw,
    top 35vh left 90vw,
    top 55vh left 90vw,
    top 75vh left 90vw;
  
  background-size:
    25%,
    17%,
    17%,
    12%,
    12%,
    12%;

  background-repeat: no-repeat;
  
  background-image: 
    url('./react-logo-2.svg'),
    url('./react-logo-2.svg'),
    url('./react-logo-2.svg'),
    url('./react-logo-2.svg'),
    url('./react-logo-2.svg'),
    url('./react-logo-2.svg');
}


