body {
  background-color: #2D3252;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-position: top 75vh left 90vw;
  background-size: 5%;
  background-repeat: no-repeat;
  background-image: url('./react-logo-2.svg');
  display: flex;
  flex-direction: row;
}