.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em auto;
    width: 90vw;
}

/* .ih-logo {
    margin-left: 3em;
}

.menu-img {
    margin-right: 3em;
} */