.App {
  text-align: left;
}

.App-Navbar {
  display: flex;
  height: 70px;
  background-color: #141c2b;
  margin: 0 auto;
  padding: 10px 80px 0 80px;
  justify-content: space-between;
}

.App-link {
  color: #09d3ac;
}

.App-main {
  background-color: #141c2b;
  color: white;
  padding: 150px 75px;
}

.App-main h1 {
  font-size: 3.8em;
  margin-bottom: 0px;
  margin-top: 0;
}

.App-main h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 200;
  max-width: 300px;
}

.App-button {
  background-color: white;
  color: #282c34;
  padding: 20px 20px;
  font-size: 1.4em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 40px;
}

.App-info {
  display: flex;
  justify-content: center;
  padding: 70px;
}

.App-info .card {
  width: 20%;
  margin-right: 50px;
}

.App-info h4 {
  color: #141c2b;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
}

.App-info p {
  color: #141c2b;
  font-weight: 100;
  font-size: 1.2em;
  max-width: 200px;
}
