/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20%;
}

.App-header nav {
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.App-header section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.App-header section h1 {
  font-size: 3em;
  width: 35%;
}
.App-header section p {
  font-size: 1em;
  width: 25%;
}

.App-link {
  color: #09d3ac;
}

main {
  display: flex;
  justify-content: space-around;
}

main div {
  max-width: 20%;
  text-align: left;
}

main div p {
  line-height: 0.8em;
}

main div img {
  width: 150 px;
}
